﻿<div ng-controller="register_login as vm">
    <div class="row">
        <div class="col-xs-12">
            <h4>Enter your e-mail address:</h4>
            <input placeholder="Email" ng-model="vm.email" />
            <a class="btn btn-primary" ng-click="vm.registerUser()">Register</a>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <p class="text-center">ALL RIGHTS RESERVED</p>
    </div>
</nav>
