﻿<div ng-controller="details as vm">
    <div class="row">
        <div class="col-xs-12">
                <img class="img-responsive" ng-src="{{vm.imageUrl(vm.event.mediaItems[0].blobName, true)}}" alt="...">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 event-description">
            <h3>{{vm.event.displayName}}</h3>
            <p><span class="caps">{{vm.event.venue.address.city}}</span> {{vm.event.venue.displayName}}</p>
            <p>
                <span class="" ng-repeat="s in vm.event.seatings">{{s.start | date: 'dd/MM HH:mm'}}</span>
            </p>
        </div>
       
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <p class="event-description-text" ng-repeat="d in vm.event.descriptions | language : vm.language">{{d.longDescription }}</p>
        </div>
    </div>
    <div class="footer navbar-fixed-bottom text-center">
        <div class="well no-background" ng-show="vm.bookingPhase != 'none'">
            <div class="row">
                <div class="col-xs-12">
                    <a class="pull-right" ng-click="vm.closeBookingWindow()"><span class="glyphicon glyphicon-remove-circle"></span></a>
                </div>
            </div>
            <div class="booking-section" ng-show="vm.bookingPhase == 'browse'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group" ng-repeat="s in vm.event.seatings">
                            <span class="input-group-addon">
                                <input type="radio" ng-checked="$first" data-startdate="{{s.start | date: 'yyyy-MM-dd HH:mm'}}" class="seatingSelector" name="seatingselector" value="{{s.seatingId}}">
                            </span>
                            <p class="form-control">{{s.start | date : 'dd/MM-yyyy HH:mm'}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        &nbsp;
                        <p class="text-white">
                            Number of people:
                            <select id="requestedSeats">
                                <option>1</option>
                                <option selected>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <span ng-show="vm.requestedSeatsAvailable == true" class="text-success"><span class="glyphicon glyphicon-check"></span> available!</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a ng-show="vm.requestedSeatsAvailable == false" ng-click="vm.checkAvailability()" class="btn btn-primary btn-block css-fade">Check Availability</a>
                        <a ng-show="vm.requestedSeatsAvailable == true" ng-click="vm.startBooking()" class="btn btn-default btn-block css-fade">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="booking-section" ng-show="vm.bookingPhase == 'signin'">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="email" value="ml@eqt1.com" placeholder="E-mail" class="form-control" />
                        <input type="password" id="password" value="Access" placeholder="Password" class="form-control" />
                        &nbsp;
                        <a class="btn btn-primary btn-block" ng-click="vm.signInOrUp()">Sign In</a>
                        <p>(If you do not have an account, one will be created)</p>
                    </div>
                </div>
            </div>
            <div class="booking-section" ng-show="vm.bookingPhase == 'confirm'">
                <div class="row">
                    <div class="col-md-12 text-inverse">
                        <p>{{vm.userInfo.userName}}</p>
                        <p>Booking date: {{vm.requestData.start | date : 'dd/MM HH:mm'}}</p>
                        <p>Number of people: {{vm.requestData.seats}}</p>
                        <input type="text" id="contact-email" ng-model="vm.userInfo.email" placeholder="E-mail" class="form-control" />
                        <input type="text" id="phone" placeholder="Phone" class="form-control" />
                        <textarea placeholder="Comments" id="comments" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a ng-click="vm.makeBooking()" class="btn btn-success btn-block css-fade">Confirm Booking</a>
                    </div>
                </div>
            </div>
            <div class="booking-section" ng-show="vm.bookingPhase == 'pay'">
                <div class="row">
                    <div class="col-md-12 text-inverse">
                        <p>You have a tentative booking, for:</p>
                        <p>{{vm.reservation.seats}} people at {{vm.reservation.seating.start | date : 'dd/MM HH:mm'}}</p>
                        <a class="btn btn-primary btn-block" ng-click="vm.makePayment()">Pay here</a>
                    </div>
                </div>
            </div>
            <div class="booking-section" ng-show="vm.bookingPhase == 'confirmed'">
                <div class="row">
                    <div class="col-md-12 text-inverse">
                        <p>You have a confirmed booking, for:</p>
                        <p class="text-primary"><strong><span class="glyphicon glyphicon-check"></span> {{vm.reservation.seats}} people at {{vm.reservation.seating.start | date : 'dd/MM HH:mm'}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <a class="pull-left" href="#/"><i class="fa fa-angle-left back-button"></i></a>
            <a ng-show="vm.bookingPhase == 'none'" class="btn btn-default booking-button" ng-click="vm.openBooking()">Book now</a>
        </div>
    </div>
    <div class="row hidden">
        <form action="https://ssl.ditonlinebetalingssystem.dk/integration/ewindow/Default.aspx" method="post" id="paymentForm">
            <input type="hidden" name="merchantnumber" value="8010097">
            <input type="hidden" name="amount" value="{{vm.reservation.price * 100}}">
            <input type="hidden" name="currency" value="DKK">
            <input type="hidden" name="callbackurl" value="http://plateup.azurewebsites.net/api/payment/{{vm.reservation.reservationId}}" />
            <input type="hidden" name="accepturl" value="http://plateup.azurewebsites.net/events/#/details/{{vm.event.eventId}}" />
            <input type="hidden" name="ordertext" value="Reservation no. {{vm.reservation.reservationId}} for {{vm.event.displayName}}" />
            <input type="hidden" name="orderid" value="{{vm.reservation.reservationId}}" />
            <input type="hidden" name="windowstate" value="3">
            <input type="hidden" name="hash" value="{{vm.reservation.paymentHash}}" />
        </form>
    </div>
</div>