﻿
<div class="panel-group" id="accordion" ng-controller="sidebar as vm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                    <i class="fa fa-group">
                    </i> Events
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#/">All</a><span class="badge">42</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                    <span class="glyphicon glyphicon-file">
                    </span> Profile
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="list-group" ng-show="vm.userInfo === null">
                <a class="list-group-item" ng-click="vm.socialLogin('Google')">
                    <i class="fa fa-google-plus"></i> Google Login
                </a>
                <a class="list-group-item" ng-click="vm.socialLogin('Facebook')">
                    <i class="fa fa-facebook"></i> Facebook Login
                </a>
            </div>
            <div class="list-group" ng-show="vm.userInfo !== null">
                <a href="#" class="list-group-item">
                    {{vm.userInfo.userName}}
                </a>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-show="vm.userInfo !== null">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
                    <span class="glyphicon glyphicon-heart">
                    </span> My Events
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse in">
            <div class="list-group" ng-repeat="res in vm.myEvents">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">{{res.DisplayName}}</h4>
                    <p>
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span class="label label-default">{{res.Seatings[0].Start | date: "dd/MM HH:mm"}}</span>
                    </p>
                    <p>{{res.Descriptions[0].ShortDescription }}</p>
                </a>
            </div>
        </div>
    </div>
</div>
