﻿<div class="container">
    <div class="navbar-header">
        <a href="#/" class="navbar-brand navbar-right">
            <span class="brand-title">
                <p>RSVP</p>
            </span>
        </a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
       
    </div>
</div>