﻿<div ng-controller="events as vm">
    <div class="row">
        <div class="col-xs-12 event-item img-responsive" ng-repeat="e in vm.events">
            <a href="#/details/{{e.eventId}}">
                <div>
                    <h3>{{e.displayName}}</h3>
                    <p><span class="caps">{{e.venue.address.city}}</span> {{e.venue.displayName}}</p>
                    <p>
                        <span class="" ng-repeat="s in e.seatings">{{s.start | date: 'dd/MM HH:mm'}}</span>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <p class="text-center">ALL RIGHTS RESERVED</p>
    </div>
</nav>